<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
   
    <add name="Conexion" connectionString="Data Source=SSK-ESQL01\SSK_PRUEBAS01;Initial Catalog=DB_OPERACIONES;User ID=usrcare;Password=usrcare" providerName="System.Data.SqlClient" />
    <add name="CareMenor" connectionString="Data Source=SSK-ESQL01\SSK_PRUEBAS01;Initial Catalog=CareMenor;User ID=usrcare;Password=usrcare" providerName="System.Data.SqlClient"/>
    <add name="TareoSSK" connectionString="Data Source=ssk-appdev;Initial Catalog=DBTAREO_OBRA;User ID=SA;Password=sistemas" providerName="System.Data.SqlClient" />
    <add name="Mobile" connectionString="Data Source=SSK-ESQL\SSK;Initial Catalog=ssk_db;User ID=SA;Password=SYSSA" providerName="System.Data.SqlClient"/>

    <!--prueba-->
    <!--prueba-->
    <!--prueba-->
    <!--prueba-->
    <!--prueba-->
   


    <!--<add name="Conexion" connectionString="Data Source=SSK-ESQL01\SSK_PRUEBAs04CS;Initial Catalog=DB_OPERACIONES;User ID=SA_RO;Password=ssk2013ro" providerName="System.Data.SqlClient" />
    <add name="CareMenor" connectionString="Data Source=SSK-ESQL01\SSK_PRUEBAs04CS;Initial Catalog=CareMenor;User ID=SA_RO;Password=ssk2013ro" providerName="System.Data.SqlClient"/>
    <add name="Mobile" connectionString="Data Source=SSK-ESQL01\SSK_PRUEBAs04CS;Initial Catalog=ssk_db;User ID=SA_RO;Password=ssk2013ro" providerName="System.Data.SqlClient"/>
    <add name="TareoSSK" connectionString="Data Source=SSK-ESQL01\SSK_PRUEBAs04CS;Initial Catalog=DBTAREO_OBRA;User ID=SA_RO;Password=ssk2013ro" providerName="System.Data.SqlClient" />-->
   
    
    <!--<add name="CareMenor" connectionString="Data Source=LCCARBONELL01\LOCAL;Initial Catalog=CareMenor;User ID=SA;Password=sistemas" providerName="System.Data.SqlClient" />
    <add name="Conexion" connectionString="Data Source=LCCARBONELL01\LOCAL;Initial Catalog=DB_OPERACIONES;User ID=sa;Password=sistemas" providerName="System.Data.SqlClient" />
    <add name="TareoSSK" connectionString="Data Source=LCCARBONELL01\LOCAL;Initial Catalog=DBTAREO;User ID=SA;Password=sistemas" providerName="System.Data.SqlClient"/>
    <add name="Mobile" connectionString="Data Source=LCCARBONELL01\LOCAL;Initial Catalog=ssk_db;User ID=SA;Password=sistemas" providerName="System.Data.SqlClient"/>-->
    
    
    
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
  
  
  </connectionStrings>
  <appSettings>
    <add key="googlemaps.subgurim.net" value="AIzaSyDqQtG7Oqizj11DQ9WOYAaAoAyQoypqlwA" />
    <add key="CadenaConexion" value="Conexion" />
    <add key="CadenaConexionCareMenor" value="CareMenor" />
    <add key="CadenaConexionMobile" value="Mobile" />
    <add key="FolderPath" value="~/File/" />
    <add key="FolderBuenasIdeas" value="~/File/Buenasideas/" />
    <add key="FolderFirmas" value="~/File/Firmas/" />
    <add key="FolderUCG" value="~/File/UCG/" />
    <add key="FolderTrainee" value="~/File/TraineeFoto/" />
    <add key="FolderFotos" value="~/File/Fotos/" />
    <add key="FolderMDP" value="~/File/MDP/" />
    <add key="FolderDesemepenio" value="~/File/Desemepenio/" />
    <add key="FolderSOLPED" value="~/File/SOLPED/" />
    
    <add key="FolderMOI" value="~/File/RRHH/MOI_SOL/" />
    <add key="FolderHSEC" value="~/File/HSEC/COMUNICADOS/" />
    
    <add key="FolderAlquiler" value="~/File/CareMenor/Alquiler/" />
    <add key="FolderAlquilerBackups" value="D:\COMPARTIDA\ARRIENDOS\" />
    <add key="FolderSOLPEDBackups" value="D:\COMPARTIDA\OR\" />
    <add key="FolderCartaBackups" value="D:\COMPARTIDA\CARTA_COBRANZAS\" />
    <add key="FolderMOIBackups" value="D:\COMPARTIDA\RRHH\MOI_SOL\" />
    <add key="FolderFTP" value="D:\COMPARTIDA\SIG\" />
    
    <add key="FolderCarta" value="~/File/CartaCobranzas/" />
    <add key="UrlFirmas" value="http://www.app.ssk.com.pe/SIGSSK/FILE/Firmas/" />
    <add key="FolderIntranet" value="~/File/Intranet/" />
    <add key="Gerente" value="000810901" />
    <add key="FolderANDAMIOS" value="~/File/ANDAMIOS/" />
    <add key="UrlSSK" value="http://localhost:3055/" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.web>
    
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    
    </httpHandlers>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Office.Interop.Excel, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" />
    <pages maintainScrollPositionOnPostBack="true">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="40">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>

  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   <add name=".svc" verb="*" path="*.svc" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" /> 
    
      </handlers>
    <staticContent>
      <remove fileExtension=".pdf" />
      <mimeMap fileExtension=".pdf" mimeType="application/octet-stream" />
      <remove fileExtension=".xltx" />
      <mimeMap fileExtension=".xltx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template" />
      <mimeMap fileExtension=".msg" mimeType="file/download" />
    </staticContent>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 1024MB (1GB) -->
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845DCD8080CC91" />
        <bindingRedirect oldVersion="10.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845DCD8080CC91" />
        <bindingRedirect oldVersion="10.0.0.0" newVersion="12.0.0.0" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
    <qualifyAssembly partialName="Microsoft.ReportViewer.WebForms" fullName="Microsoft.ReportViewer.WebForms,version=12.0.0.0,culture=neutral,publicKeyToken=89845DCD8080CC91" />
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
